@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Slabo 27px';
    padding-top: 100px;
}

h1 {
    text-align: center;
    font-size: 60px;

    font-weight: normal;
}

ul {
    text-align: center;
    list-style-type: none;

    padding: 0;
}

li {
    padding: 10px;;
}

a {
    text-decoration: none;
    font-size: 40px;

    border-bottom: solid 2px transparent;
    transition: all 0.5s ease-in-out;

    padding: 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    border-bottom-color: black;
}

